:root{
    --grid-rows: 0;
    --grid-cols: 0;
}

body{
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    font-size: x-large;
    color: royalblue;
}

main{
    font-size: 2em;
    padding: 100px;
    margin: auto;
    background-color: palegoldenrod;
    justify-content: center;
}

h1{
    text-align: center;
    margin: auto;
    padding: 10px;
}


#btn_menu{
    display: flex;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 10px;
}


#btn_container{
    float: left;
    margin: auto;
    font-size: medium;
}

#change_size{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    border-radius: 10%;
    font-size: medium;
    margin-bottom: 10px;
    border: none;
    box-shadow: -10px 10px 0 grey;
}

#change_size:hover{
    background-color: royalblue;
    box-shadow: -4px 4px 0 grey;
}

#reset{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    width: auto;
    border-radius: 10%;
    font-size: medium;
    margin-bottom: 10px;
    border: none;
    box-shadow: -10px 10px 0 grey;
}

#reset:hover{
    background-color: royalblue;
    box-shadow: -4px 4px 0 grey;
}

#rainbow{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    border-radius: 10%;
    font-size: medium;
    margin-bottom: 10px;
    border: none;
    box-shadow: -10px 10px 0 grey;
}

#rainbow:hover{
    animation-name: colorful;
    animation-duration: 3s;
    box-shadow: -4px 4px 0 grey;
}

@keyframes colorful {
    0% {
        background-color: red;
    }
    50% {
        background-color: seagreen;
    }
    100% {
        background-color: royalblue;
    }
  }

#black{
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 30px;
    border-radius: 10%;
    font-size: medium;
    margin-bottom: 10px;
    border: none;
    box-shadow: -10px 10px 0 grey;
}

#black:hover{
    background-color: royalblue;
    box-shadow: -4px 4px 0 grey;
}

#container{
    display: flex;
    padding: 40px 40px;
    margin: auto;
    display: grid;
    background-color: white;
    border: royalblue;
    border-radius: 15px;
    height: 500px;
    width: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: -20px 20px 0 grey;
}


.cell{
    background-color:white;
}

.cell:hover{
    background-color: orange;
}
